{% extends 'base.html.twig' %}

{% block title %}Cooking . Accueil {% endblock %}

{% block body %}


	<div class="jumbotron">
		<div class="container">
			<h1 class="display-4">Bienvenue sur Cooking</h1>
			<p class="lead">Tu vas pouvoir créer des recettes à base d'ingrédients que tu auras toi-même créés. Tu pourras partager tes recettes à la Communauté, ou bien les garder en privé</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application Cooking</p>
			<p>
				<a class="btn btn-primary btn-lg mt-5" href="{{ path('app_security_registration') }}" role="button">Inscription</a>
			</p>
		</div>
	</div>


	<div class="recipes">
		<h2 class="mt-5 pb-5">Recettes de la Communauté Cooking</h2>
		<div class="d-flex justify-content-between flex-wrap">
			{% for recipe in recipes %}
				<div class="card border-secondary mb-3 mx-2 " style="max-width: 20rem;">
					<div class="card-header">recette n°
						{{ recipe.id }}</div>
					<div class="card-body">
						<h4 class="card-title">{{ recipe.name }}</h4>
						<p class="card-text">{{ recipe.description|slice(0,100) ~ '...' }}</p>
						<a href="{{ path('app_recipe_show', {id: recipe.id}) }}">Lire</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
